
  <div class="card-list-container py-5">
  
  <div class="d-flex justify-content-center mb-2">
          <%= render "public/searches/search" %>
  </div>
      <%= link_to "里親を募集する", new_nyanko_path, class: "btn btn-outline-secondary btn-sm"%>
    <p></p>


      <h4>募集中の猫さんたち</h4>
        <table class="table table-hover ">
        <% @nyankos.each do |nyanko| %>

        <tr>
          <td>
            <%= image_tag nyanko.get_image(190,190) %>
          </td>
          <td>
            <%= image_tag nyanko.user.get_image(50,50) do %><%= nyanko.user.name %><% end %>
          </td>
          <td>
            <%= nyanko.title %>
          </td>
          <td>
            <%= link_to "詳細", nyanko_path(nyanko) %>
          </td>
        </tr>
        <% end %>
  </table>
  </table>
  </div>
  </div>

