
<div class="col-md-8 offset-md-1">
  <table class="table">
    <tr>
      <td>
        <div class="d-flex justify-content-center mb-2">
          <%= render "public/searches/search" %>
        </div>
    
    <%= link_to "里親を募集する", new_nyanko_path, class: "btn btn-outline-secondary btn-sm"%>
    
    <% @nyankos.each do |nyanko| %>
    <p><%= image_tag nyanko.get_image(100,100) %></p>
    <%= image_tag nyanko.user.get_image(100,100) %>
    <p>投稿者名：<%= nyanko.user.name %></p>

    <p>タイトル：<%= nyanko.title %></p>

    <p>説明：<%= nyanko.body %></p>

    <%= link_to "詳細", nyanko_path(nyanko) %>
    <% end %>

</div>
