<div class="row">
  <div class="col-lg-6 mx-auto">

    <h2>里親募集フォーム</h2>
    <p></p>

    <% if @nyanko.errors.any? %>
      <%= @nyanko.errors.count %>件のエラーが発生しました
      <ul>
        <% @nyanko.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with model: @nyanko do |f| %>
      <p></p>
      <h4>写真</h4>
      <%= f.file_field :image, accept: "image/*" %>

      <p></p>
      <h4>タイトル</h4>
      <%= f.text_field :title %>

      <p></p>
      <h4>説明</h4>
      <%= f.text_area :body,size: "65x2" %>
      
      <p></p>
      <h4>猫の種類</h4>
      <%= form.collection_check_boxes(:hashtag_ids, Tag.all, :id, :name) do |tag| %>
        <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
        <% end %>
     
      <% end %>
      

      <%= f.submit '投稿' %>
    <% end %>
  </div>
</div>