
<div class="row">
  <div class="col-md-11 offset-md-1">
    <div class="show">
      <div class="img">
        <div>
          <%= image_tag @nyanko.image, :size =>'500x500' %>
        </div>
      </div>
      <div class="user_info">
        <div class="user_img">
          <%= link_to user_path(@user) do %>
            <%= image_tag @user.get_image, class: 'nyanko-img' %>
          <% end %>
        </div>
        <div class="user_name">
          <%= @nyanko.user.name %> |
          <%= @nyanko.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="showbtns">
            <% if @nyanko.user == current_user %>
              <btn class="showbtn"><%= link_to "編集", "#{edit_nyanko_path(@nyanko.id)}", class: "btn btn-outline-secondary btn-sm"%></btn>

              <btn class="showbtn"><%= link_to "削除", "#{nyanko_path(@nyanko.id)}", method: :delete, class: "btn btn-outline-secondary btn-sm"%></btn>
            <% end %>
        </div>
      </div>
    </div>

      <div class="main">
        <%= @nyanko.title %> /
        <% @nyanko.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </div>
      <div class="main_text">
        <%= safe_join(@nyanko.body.split("\n"),tag(:br)) %>
      </div>
  </div>
</div>

