<%= flash[:notice] %>

<div>
  <%= image_tag @nyanko.user.get_image(100,100) %>
  <%= @nyanko.user.name %>


  <div class="photo">
    <%= image_tag @nyanko.image %>
  </div>

  <div class="text">
    <%= @nyanko.title %>
    <p><%= @nyanko.body %></p>
  </div>

  <div class="date"><%= @nyanko.created_at.strftime('%Y/%m/%d') %></div>

  <% if @nyanko.user == current_user %>

  <div class="right">
    <span><%= link_to "編集", "#{edit_nyanko_path(@nyanko.id)}", class: "btn btn-outline-secondary btn-sm"%></span>
    <span><%= link_to "Destroy", "#{nyanko_path(@nyanko.id)}", method: :delete, class: "btn btn-outline-secondary btn-sm"%></span>
  </div>
  <% end %>
</div>

