
<div class="row">
  <div class="col-lg-10 mx-auto">
    <div class="chat-container">
      <div class="chat-topbar">
        <h2>
          <%= ("#{@another_entry.user.name}さんとのメッセージ") %>
        </h2>
      </div>

<div class="row">
  <div class="col-lg-10 mx-auto">
    <div class="chat-messages">
      <% @messages.each do |m| %>
        <% if m.user_id == current_user.id %>
        <div class="message self">
          <div class="message-body">
            <%= m.dm_body %>
          </div>
        </div>
        <% else %>
        <div class="message other">
          <div class="message-sender">
            <%= image_tag @another_entry.user.get_image(30,30) %>
            <%= m.user.name %>
          </div>
          <div class="message-body">
            <%= m.dm_body %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

    <div class="col-lg-6 mx-auto">
      <div class="chat-form">
        <%= form_for @message do |f| %>
      <div class="form">
        <%= f.text_field :dm_body %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <%= f.submit "送信", class: "btn btn-outline-secondary btn-sm" %>
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

