
<div class="card-list-container py-5">
<div class="card w-50 mx-auto mt-4 shadow-lg">
  <%= image_tag @nyankogram.nyankogram_image %>

<div class="card-body">
    <div class="row">
      <div class="col-3">
        <%= image_tag @nyankogram.user.get_image(100,100), class: "mt-3 rounded-circle"; %>
      </div>

      <div class="col-9">
        <span><i class="fas fa-user"></i><%= @nyankogram.user.name %> |
        <% if @nyankogram.favorited_by?(current_user) %>
            <%= link_to nyankogram_favorites_path(@nyankogram), method: :delete do %>
              <i class="fa-regular fa-heart"></i><%= @nyankogram.favorites.count %>
        <% end %>
          <% else %>
            <%= link_to nyankogram_favorites_path(@nyankogram), method: :post do %>
              <i class="fa-regular fa-heart"></i><%= @nyankogram.favorites.count %>
          <% end %>
        <% end %>

        <i class="fa-regular fa-comment"></i><%= @nyankogram.nyankogram_post_comments.count %> |

          <%= @nyankogram.created_at.strftime('%Y/%m/%d') %></span>

          <div class="deletebtn">
            <% if @nyankogram.user == current_user %>
              <%= link_to "削除", nyankogram_path(@nyankogram.id), method: :delete, class: "btn btn-outline-secondary btn-sm"%>
            <% end %>
          </div>

        <p class="card-text"><%= safe_join(@nyankogram.post_body.split("\n"),tag(:br)) %></p>
      </div>

    </div>
</div>
</div>
</div>

<div class="card w-50 mx-auto">
<div>
  <% @nyankogram.nyankogram_post_comments.each do |nyankogram_post_comment| %>
    <span><%= image_tag nyankogram_post_comment.user.get_image(30,30) %></span>
    <span><%= nyankogram_post_comment.user.name %></span> |
    <span><%= nyankogram_post_comment.created_at.strftime('%Y/%m/%d') %></span>
    <p><i class="fa-regular fa-comment"></i><%= nyankogram_post_comment.comment %>
    <% if nyankogram_post_comment.user == current_user %>
      <%= link_to "削除", nyankogram_nyankogram_post_comment_path(nyankogram_post_comment.nyankogram, nyankogram_post_comment), method: :delete %>
    <% end %></p>
  <% end %>
</div>
</div>

<div class="row">
  <div class="col-lg-6 mx-auto">
        <%= form_with model: [@nyankogram, @nyankogram_post_comment] do |f| %>
        <%= f.text_area :comment,size: "67x2", placeholder: "コメントをここに" %>
        <div class="test"><%= f.submit "送信" %></div>
        <% end %>
  </div>
</div>