<div>
  <%= image_tag @nyankogram.user.get_image(100,100) %>
  <%= @nyankogram.user.name %>


  <div class="photo">
    <%= image_tag @nyankogram.nyankogram_image %>
  </div>

  <div class="text">
    <p><%= @nyankogram.post_body %></p>
  </div>

  <div class="date"><%= @nyankogram.created_at.strftime('%Y/%m/%d') %></div>

  <% if @nyankogram.user == current_user %>

  <%= link_to "削除", nyankogram_path(@nyankogram.id), method: :delete, class: "btn btn-outline-secondary btn-sm"%>
  
  <% end %>
</div>
