
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="DM">
      <h2>いいね一覧</h2>
    </div>
  </div>
</div>

<% @favorite_posts.each do |nyankogram| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag nyankogram.nyankogram_image, class: "card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <%= image_tag nyankogram.user.get_image(100,100), class: "mt-3 rounded-circle"; %>
        </div>
        <div class="col-9">
          <span><i class="fas fa-user"></i> <%= nyankogram.user.name %> |
          <% if nyankogram.favorited_by?(current_user) %>
            <%= link_to nyankogram_favorites_path(nyankogram), method: :delete do %>
              <i class="fa-regular fa-heart"></i><%= nyankogram.favorites.count %>
          <% end %>

          <% else %>

            <%= link_to nyankogram_favorites_path(nyankogram), method: :post do %>
              <i class="fa-regular fa-heart"></i><%= nyankogram.favorites.count %>
          <% end %>

          <% end %>
          <i class="fa-regular fa-comment"></i><%= link_to "#{nyankogram.nyankogram_post_comments.count} ", nyankogram_path(nyankogram.id) %></span> |
          <span><i class="fa-solid fa-paw"></i><%= link_to "詳細", nyankogram_path(nyankogram)%></span>
          <p class="card-text"><%= safe_join(nyankogram.post_body.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @favorite_posts %>
</div>
