<div class="row">
<div class="col-md-8 offset-md-1">
  <table class="table">
    <% @nyankos.each do |nyanko| %>
    <tr>
      <td>
        <%= link_to user_path(@user) do %><%= image_tag nyanko.user.get_image(100,100) %><br><%= nyanko.user.name %><% end %>
        
        <% if @user == current_user %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
        <% end %>
        
      </td>
      <td>
        <%= image_tag nyanko.image %>
      </td>
      <td>
        <%= link_to nyanko.title, nyanko_path(nyanko.id) %>
      </td>
      <td>
        <%= nyanko.body %>
      </td>
      <td>
        投稿日：<%= nyanko.created_at.strftime('%Y/%m/%d') %>
      </td>
    </tr>
  </table>
    <% end %>
</div>
</div>