<div class="row">
  <div class="col-md-10 offset-md-1">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@user) do %>
              <%= image_tag @user.get_image(150, 150) %>
            <% end %>
          </td>
          <th>
            <%= @user.name %>
          </th>
          <td>
            <% if @user == current_user %>
              <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-secondary btn-sm" %>
            <% end %>
          </td>
          <td>
            <%= link_to "いいね一覧", favorites_user_path(@user), class: "btn btn-outline-secondary btn-sm" %>
          </td>
        </tr>
      </tbody>
    </table>
      <tbody>
        <% @nyankos.each do |nyanko| %>
        <tr>
          <td>
            <%= link_to nyanko_path(nyanko.id) do %>
              <%= image_tag nyanko.image, :size =>'300x300' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
      <% unless @user.id == current_user.id %>
  <% if @is_room == true %>
    <%= link_to 'メッセージへ', room_path(@room_id) %>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
      <%=  f.button type: :submit do %>
        メッセージを送る
  <% end %>
  <% end %>
  <% end %>
  <% end %>
  </div>
</div>
