<!DOCTYPE html>
<html>
  <head>
    <title>NyankoHome</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/e9c35b0b7a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-5">
      <div class="container-fluid">
        <h1><span class="font-txt1"><%= link_to 'ニャンコ ホーム', "/", class: "navbar-brand" %></span></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>

      <li class="nav-item">
      <%= link_to user_path(current_user.id), class: 'nav-link text-light active', 'aria-current': 'page' do %>
      <i class="fa-regular fa-user"></i> マイページ
      <% end %>
      </li>

      <li class="nav-item">
      <%= link_to nyankos_path, class: 'nav-link text-light active', 'aria-current': 'page' do %>
      <i class="fa-solid fa-cat"></i> 里親募集
      <% end %>
      </li>

      <li class="nav-item">
      <%= link_to nyankograms_path, class: 'nav-link text-light active', 'aria-current': 'page' do %>
      <i class="fa-solid fa-paw"></i> ニャンコグラム
      <% end %>
      </li>

      <li class="nav-item">
      <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light active', 'aria-current': 'page' do %>
      <i class="fa-solid fa-right-from-bracket"></i> ログアウト
      <% end %>
      </li>

      <% elsif admin_signed_in? %>
        <li class="nav-item">
           <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
           <%= link_to "コメント一覧", admin_nyankogram_post_comments_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
           <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
        </li>


      <% else %>

      <ul class="navbar-nav ml-auto">

      <li class="nav-item">
      <%= link_to raw('<i class="fa-solid fa-shield-cat"></i> 概要'), "/home/about", class: "nav-link text-light active", aria: { current: "page" } %>
      </li>

      <li class="nav-item">
      <%= link_to raw('<i class="fa-solid fa-user-plus"></i> 会員登録'), new_user_registration_path, class: "nav-link text-light active", aria: { current: "page" } %>
      </li>

      <li class="nav-item">
      <%= link_to raw('<i class="fa-solid fa-right-to-bracket"></i> ログイン'), new_user_session_path, class: "nav-link text-light active", aria: { current: "page" } %>
      </li>

      </ul>

      <% end %>

          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container px-sm-0">
        <div class="row">
          <%= notice %>
          <%= alert %>
        </div>
      </div>
      <div class="container px-sm-0">
          <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="font-txt1 mx-auto mt-5">
            ニャンコ ホーム
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>